@model Product

<div>
    <img src="@Model.ImageUrl" alt="" />
    <h1 style="text-align:center;">@Model.Name</h1>
    <h2>Brand: @Model.Brand</h2>
    <h2>Price: @Model.Price</h2>
    <h3>@Model.Description</h3>
</div>